In [1]:
l=(10,20,30,-10,30.5) # creating a tuple

In [2]:
n=len(l) # length of tuple
print(n)

5

In [3]:
print(type(l))

<class 'tuple'>

In [4]:
tup='a','b' # another way of creating a tuple
print(tup)

('a', 'b')

### Different Ways of Printing a Tuple

In [5]:
print(l)

(10, 20, 30, -10, 30.5)

In [6]:
print(*l)

10 20 30 -10 30.5

In [7]:
for item in l :
    print(item,end=" ")

10 20 30 -10 30.5

In [8]:
for i in range(len(l)):
    print(l[i],end=" ")

10 20 30 -10 30.5

### Since tuples are immutable we cannot add and delete elements in a tuple

### More operations on Tuples

In [9]:
print(max(l)) #maximum of tuple

30.5

In [10]:
print(min(l)) #minimum of tuple

-10

In [11]:
print(sum(l)) #sum of all elements of a tuple

80.5

In [12]:
s=l[::-1] #reverse a tuple
print(s)

(30.5, -10, 30, 20, 10)

In [13]:
a=sorted(l) # creating a new list by sorting by previous tuple
print(a)

[-10, 10, 20, 30, 30.5]

In [14]:
print(l*4) # adding the same tuple four times

(10, 20, 30, -10, 30.5, 10, 20, 30, -10, 30.5, 10, 20, 30, -10, 30.5, 10, 20, 30, -10, 30.5)

In [15]:
print(l[1:6]) # slicing in tuples

(20, 30, -10, 30.5)

In [16]:
a=(1,2,3,4)
b=(5,6,7,8)
c=a+b  # creating new tuple from previous tuples
print(c)

(1, 2, 3, 4, 5, 6, 7, 8)

In [17]:
a=(i*2 for i in range(10)) #tuple comprehension
print(*a)

0 2 4 6 8 10 12 14 16 18

In [18]:
a=((1,2),(4,3),(2,5),(7,5,6))
l=tuple(sorted(a)) # sorting a tuple by first value in the tuple
print("Sorting a tuple by value in the tuple")
print(l)
print()
print("Sorting a tuple by second value in tuple")
s=tuple(sorted(a,key=lambda x:x[1]))
print(s)

Sorting a tuple by value in the tuple
((1, 2), (2, 5), (4, 3), (7, 5, 6))

Sorting a tuple by second value in tuple
((1, 2), (4, 3), (2, 5), (7, 5, 6))

In [19]:
#map function on a tuple
a=(1,2,3,4)
s=tuple(map(lambda x:x+x,a))
print(s)

(2, 4, 6, 8)

In [20]:
#filter function on a tuple
a=(1,2,3,4)
s=tuple(filter(lambda x:x%2==0,a))
print(s)

(2, 4)

In [21]:
#reduce function in python
import functools
l=(1,2,3,4)
s=functools.reduce(lambda a,b :a+b,l)
print(s)

10

In [22]:
l=(1,2,3,4) # converting a tuple to list
a=list(l)
print(a)

[1, 2, 3, 4]